@font-face {
    font-family: 'Graph FF Condensed';
    src: url('GraphFFCondensed-Black.woff2') format('woff2'),
        url('GraphFFCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-heading: 'Cormorant Garamond', serif;
    --font-body: 'Open Sans', sans-serif;
    --h1: 2rem;
    font-size: 100%;
    --color: black;
    --background:#ffffff;
    --body-copy: 1rem;
    --gutter: 2rem;
    --vertical: 2.5rem;
    --padding: 1rem;
    --gap: var(--padding);
    --border-radius: 0.5rem;
}

body {
    font-family: var(--font-body);
    color: var(--color);
    background-color: var(--background);
    font-size: var(--body-copy);
    /* block-size: 100vh; */
    /* display: grid; */
    /* grid-template-rows: min-content 1fr min-content; */
    align-items: center;
}

.hero {
    height: 30vh;
}

.hero h1 {
    font-size: var(--h1);
    font-weight: 600;
}

/* main p {
padding-block-end: 2rem;
} */

/* Wanted a cool pattern behind my work */
/* Found this pattern collection: https://css-pattern.com/ */
/* I learned that i can change the CSS styles of the background in the code template */

body {
  --s: 80px; /* control the size*/
  --c1: #ffffff;
  --c2: #dbfff8;
  --c3: #f5f5f5;
  --c4: #fff1f0;
  --c5: #f7f5ff;
}
  


/* main {
    font-size: var(--body-copy);
    color: black;
}

main.projects ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, var(--row-height));
    gap: 0;                  
    padding: 0;              
    list-style: none;
  }


  main.projects li {
    inline-size: 100%;
    block-size: 100%;
    height: 30vh;
    display: grid;
    place-items: center;
  }
  


  main.projects li:nth-child(1) { 
    background-color: lightgray;
}
  main.projects li:nth-child(2) { 
    background-color: firebrick; 
}
  main.projects li:nth-child(3) { 
    background-color: yellowgreen; 
}
  main.projects li:nth-child(4) { 
    background-color: darkolivegreen; 
}
  main.projects li:nth-child(5) { 
    background-color: white; 
}


main p{
    font-size: var(--body-copy);
} */

.hero {
    padding: calc(3 * var(--padding));
    height: 70vh;
    /* margin-block-end: 7rem; */
}



.hero h1 {
    font-size: var(--h1);
    font-weight: 600;
    padding-block-end: 2rem;
}




main.projects {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(5, 30vh); */
    gap: var(--gap);
    padding: var(--padding);
  }
  
  .project header {
    padding-block-end:calc(var(--gap) / 4);
    font-size: var(--h1);
  }

  .project h2 {
    padding-block-end: calc(var(--gap) / 4);
    font-weight: 600;
  }

  .project a {
    display: block;
    border-radius: var(--border-radius);
    overflow: hidden;
    aspect-ratio: 16 / 9;
  }

  .project img,
  .project video {
    inline-size: 100%;
    block-size: 100%;
    display: block;
    object-fit: cover;
  }



.footer {
    color: var(--background);
    background-color: var(--color);
    padding: var(--padding);
}

.footer-links {
    display: flex;
    gap: var(--gap);
}

.footer p {
    padding-block-start: var(--padding);
}

footer, hgroup p {
    font-family: sans-serif;
}

a {
    text-decoration-line: underline;
}





@media (min-width: 1024px) {

    main.projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero h1 {
        font-size: calc(2 * var(--h1));
        text-wrap: balance;
    }


    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}