@font-face {
    font-family: 'Graph FF Condensed';
    src: url('GraphFFCondensed-Black.woff2') format('woff2'),
        url('GraphFFCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 100%;
    --color: tomato;
    --background:#ffffff;
    --body-copy: 1rem;
    --heading-copy: calc(var(--body-copy) * 2);
    --gutter: 2rem;
    --vertical: 2.5rem;
}

body {
    font-family:'Graph FF Condensed';
    color: var(--color);
    background-color: var(--background);
    font-size: var(--body-copy);
    /* block-size: 100vh; */
    /* display: grid; */
    /* grid-template-rows: min-content 1fr min-content; */
    align-items: center;
}

.hero {
    height: 30vh;
}

/* main p {
padding-block-end: 2rem;
} */

/* Wanted a cool pattern behind my work */
/* Found this pattern collection: https://css-pattern.com/ */
/* I learned that i can change the CSS styles of the background in the code template */

body {
  --s: 80px; /* control the size*/
  --c1: #ffffff;
  --c2: #dbfff8;
  --c3: #f5f5f5;
  --c4: #fff1f0;
  --c5: #f7f5ff;
}
  


/* main {
    font-size: var(--body-copy);
    color: black;
}

main.projects ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, var(--row-height));
    gap: 0;                  
    padding: 0;              
    list-style: none;
  }


  main.projects li {
    inline-size: 100%;
    block-size: 100%;
    height: 30vh;
    display: grid;
    place-items: center;
  }
  


  main.projects li:nth-child(1) { 
    background-color: lightgray;
}
  main.projects li:nth-child(2) { 
    background-color: firebrick; 
}
  main.projects li:nth-child(3) { 
    background-color: yellowgreen; 
}
  main.projects li:nth-child(4) { 
    background-color: darkolivegreen; 
}
  main.projects li:nth-child(5) { 
    background-color: white; 
}


main p{
    font-size: var(--body-copy);
} */




main.projects {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: repeat(5, 30vh); */
    gap: 0;
    padding: 0;
  }
  .project {
    overflow: hidden;
  }
  .project a {
    display: grid;
    place-items: center;
    block-size: 100%;
    inline-size: 100%;
    color: white;
    text-decoration: none;
  }
  .project img, .project video,.project h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .project img, .project video {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
  .project h2 {
    z-index: 1;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
  }





h1 {
    font-size: calc(var(--heading-copy) * 2);
    padding-block-end: 1rem;
}



.footer {
    color: var(--background);
    background-color: var(--color);
}

footer, hgroup p {
    font-family: sans-serif;
}

a {
    text-decoration-line: underline;
}